@model List<Empleado>

@{
    List<string> oficios = ViewData["OFICIOS"] as List<string>;
}

<h1>Api Empleados</h1>

<form method="post">
    <select name="oficio">
        <option>-- Elige un oficio --</option>
        @foreach (string oficio in oficios)
        {
            <option>@oficio</option> 
        }
    </select>
    <button>Buscar</button>
</form>

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
                <th>Departamento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model)
            {
                <tr>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Salario</td>
                    <td>@emp.Departamento</td>
                    <td>
                        <a asp-controller="Empleados" asp-action="Details" asp-route-idempleado=@emp.IdEmpleado>Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}